{
  "presets": ["es2015", "stage-2"],
  "plugins": [
    ["flow-runtime", {
      "assert": true,
      "annotate": true
    }],
    "transform-decorators-legacy",
    "transform-flow-strip-types"
  ]
}
